
<ion-menu contentId="main-content" >
  <ion-header>
    <ion-toolbar>
      <ion-title id="item" item>DuocExpress </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content class="ion-padding">
    <ion-item id="item" routerLink="/exit">
      <ion-icon id="item" name="home-outline" slot="start"></ion-icon>
      Menu Principal
    </ion-item>
    <ion-item id="item" routerLink="/dato-user">
      <ion-icon id="item" name="person-outline" slot="start"></ion-icon>
      Perfil
    </ion-item>

    <ion-item id="item" routerLink="/reservar">
      <ion-icon id="item" name="car-outline" slot="start"></ion-icon>
      Viajes
    </ion-item>
    
    <ion-item id="item" routerLink="/chatbox">
      <ion-icon id="item" name="chatbox-outline" slot="start"></ion-icon>
      Contactos
    </ion-item>

    <ion-item id="item" routerLink="/card">
      <ion-icon id="item" name="card-outline" slot="start"></ion-icon>
      Pagos
    </ion-item>

    <ion-item id="item" routerLink="/settings">
      <ion-icon id="item" name="settings-outline" slot="start"></ion-icon>
      Configuración
    </ion-item>


    
    <ion-item id="item" routerLink="/home">
      <ion-icon id="item" name="exit-outline" slot="start"></ion-icon>
      Cerrar sesion
    </ion-item> 
  
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button id="item"></ion-menu-button>
      </ion-buttons>
      <ion-title id="item">DuocExpress</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true" >
    <ion-row>
      <ion-col>Patente</ion-col>
      <ion-col>Lugar</ion-col>
      <ion-col>Hora</ion-col>
      <ion-col>Reservar</ion-col>
    </ion-row>
    <ion-row *ngFor="let post of posts">
      <ion-col>{{post.patente}}</ion-col>
      <ion-col>{{post.lugar}}</ion-col>
      <ion-col>{{post.hora}}</ion-col>
      <ion-col><ion-button (click)="reservar()">reservar</ion-button></ion-col>
    </ion-row>
  </ion-grid>