<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Agregué para animación #title" -->
    <ion-title id="item" item>DuocExpress </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">datoUser</ion-title>
    </ion-toolbar>
  </ion-header>
<div>
  <label for="Datos">
    <h3>Su nombre de usuario <span>{{ usuario }}</span></h3>
  </label>
  <label for="Datos">
    <h3>Su correo es: <span>{{ correo }}</span></h3>
  </label>
  <label for="Datos">
    <h3>Su numero de telefono <span>{{ fono }</span>}</h3>
  </label>
  <label for="Datos">
    <h3>Su direccion es: <span>{{ direccion }}</span></h3>
  </label>
</div>
</ion-content>
